<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="zsi.PhotoFingCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="zsi.PhotoFingCapture.Properties.Settings.templatesConnectionString"
      connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\templates.accdb"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <applicationSettings>
    <zsi.PhotoFingCapture.Properties.Settings>
      <setting name="WebFile_URI" serializeAs="String">
        <value>http://www.zetta-solutions.net/phgovdemo/webfileservices.asmx</value>
      </setting>
    </zsi.PhotoFingCapture.Properties.Settings>
  </applicationSettings>
</configuration>
