<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PhotoFingCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PhotoFingCapture.Properties.Settings>
      <setting name="PhotoFingCapture_WebFileService_WebFileManager" serializeAs="String">
        <value>http://localhost:2593/webfileservices.asmx</value>
      </setting>
      <setting name="ZSICam_WebFileService_WebFileManager" serializeAs="String">
        <value>http://localhost:2593/WebFileServices.asmx</value>
      </setting>
    </PhotoFingCapture.Properties.Settings>
  </applicationSettings>
</configuration>
